extends layoutBack

block content

  .container
    h1.page-header= pageHeader
    .row
      .col-md-9
        .tabs
          ul.tab-links
            li.active
              a(href="#incoming") Incoming
            li
              a(href="#outgoing") Outgoing
          .tab-content
            #incoming.tab.active
              each transaction in transactionIn
                .package-lists
                  ul
                    li
                      a(href="/package/display") Transaction Id: #{transaction.id}
                    li From: #{transaction.address}
                    li Date: #{transaction.dateDispatched}
            #outgoing.tab
              each transaction in transactionOut
                .package-lists
                  ul
                    li
                      a(href="/package/display") Transaction Id: #{transaction.id}
                    li To: #{transaction.address}
                    li Date: #{transaction.dateDispatched}
              
      .col-md-3
        ul.action
          li
            a(href="/package/new") Send a new Package
          li
            a(href="#") Track Package
          li
            a(href="#") Edit Account
          li
            a(href="#") View History
          li
            a(href="#") Payments
