extends layoutBack

block content
  h1.page-header= pageHeader
  .container
    .row
      .col-md-6
        table.transaction
          tr
            th Transaction ID
            td= transactionDetails.id
          tr
            th Transaction Started:
            td= transactionDetails.initialDateDispatched
          tr
            th Initial address
            td= transactionDetails.initialAddress
          tr
            th Reccivers address
            td= transactionDetails.recciverAddress
          tr
            th Date dispacched by previous vendor
            td= transactionDetails.currentDateDispatched
          tr
            th Current Sender
            td= transactionDetails.currentSender
          tr
            th Current Recciver
            td= transactionDetails.currentRecciver
      .col-md-6
        .transaction-map
          img(class="img-responsive" src="../images/a.jpg")
